<div class="calendar-time-entry-event--highlighting __hl_background_status_<%= time_entry.work_package.status_id %>"></div>

<div class="calendar-time-entry-event--content">
  <div class="calendar-time-entry-event-content-dates">
    <%= time_entry.start_timestamp.strftime("%H:%M") %>-<%= time_entry.end_timestamp.strftime("%H:%M") %>
    (<%= time_entry.hours %>)
  </div>
  <div class="calendar-time-entry-event--content-subject-line"><%= time_entry.work_package.subject %></div>
  <div class="calendar-time-entry-event--content-project-name"><%= time_entry.project.name %></div>
</div>
